/* ROOT */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
:root{
    font-size: 10px;
    box-sizing: border-box;
}

body{
     overflow-x: hidden;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    background-color: white;
    color: black;
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     box-sizing: border-box;
}

a{
    text-decoration: none;
    display: block;
    color: black ;
}



/* TOPBODY */

.topbody{
    height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 43%, rgba(0,212,255,1) 100%);
    padding-top: 1rem;
    padding-left: 8rem ;
   
}

.topbody h1{
    color: white;
    font-size:2rem;
}

.showcase{
    height: 80vh;
    width: 100%;
    margin-top: 4rem;
    display: flex;
}

.item{
    flex-grow: 1;
    text-align: center;
}

.toptext{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 2.9rem;
    height: 100%;
    max-width: 45vw;
    padding-top: 25vh;
    text-align: left;
}

.btn{
    background-color: rgb(224, 224, 9);
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 1rem;
    border-radius: 2rem  ;
    box-shadow: none;
    border: 1px solid rgb(224, 224, 9);
    margin-top: 1rem ;
    transition: 0.5s ease-in;
}

.btn:hover{
    background-color: transparent;
    border-color: white;
    color: white;
}

.topimage{
    height: 100%;
    max-width: 0vw;
}

.topimage img{
    display: block;
    width: 80rem;
    position: absolute;
    left: 40vw;
        
}

/* WALLET */

.wallet{
    padding: 2rem 3rem 3rem 3rem;
    text-align: center;
     font-size: 1.5rem;
     margin-bottom: 6rem ;
}

.text{
    margin-bottom: 3rem;
    padding: 1rem;
}

.wallet h1{
    font-weight: bold; 
    font-size: 3rem;
    margin-bottom: 1.5rem; 
    text-transform: uppercase; 
}

.line{
    max-height:1rem;
    max-width: 8rem;
    background-color: rgb(224, 224, 9);
    margin-left: auto;
    margin-right: auto;
    font-size: .2rem;
    color: rgb(224, 224, 9);
    margin-bottom: 2rem;
}
.pics{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
}

.pics *{
    max-height: 20rem;
    max-width: 20rem;
    margin-right: 2rem;
    margin-bottom: 2rem; 
    padding: 0;  
}

.crypto:hover{
    cursor: pointer;
}

.crypto img{
    display: block;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    margin-right: 2rem;
    align-items: center;                                                                                                  
}

.crypto h3{
    margin: o;
    text-align: center;
}

.img7{
    display: block;
    width: 4rem;
}
/* FOOTER */

.end{
    background-color: black;
    color: white; 
    padding: 4rem;   
    text-align: center;
}

.end  a{
    color: white;
}

.footerlink{
    display: flex;
    justify-content: center;
    font-size: 1.5rem
}

.footerlink div{
        margin-left: 5rem;
        transition: .7s all linear;
}

.footerlink a{
    transition: .5s all linear;
}
.footerlink div a:hover{
    color: rgb(224, 224, 9);
    transform: scale(1.2);
}

.copy{
    font-size: 1rem ;
    margin-top: 1rem;
}


/* mediaqueries */
@media screen and (max-width:900px){
    :root{
        font-size: 8px;
        box-sizing: border-box;
    }
     
    .topimage img{
        display: block;
        width: 80rem;
        position: absolute;
        top: 20vh;
            
        }
    
}

@media screen and (max-width:800px){
    :root{
        font-size: 8px;
        box-sizing: border-box;
    }

    .topbody{
        height: 130vh
    }
    .showcase{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .topimage img{
    display: block;
    width: 80rem;
    position: absolute;
    left: 8vw;
    top: 10vh;
    margin-top: 35rem;    
    }

    .toptext{
        margin-top: -10rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        line-height: 5.0rem;
    }
}

@media screen and (max-width:650px){
    :root{
        font-size: 7px;
        box-sizing: border-box;
    }
    .topbody{
        height: 110vh
    }

    .toptext{
        line-height: 4rem;
    }
    .topimage img{
        display: hidden ;
        width: 80rem;
        position: absolute;
        left: 4vw;
        top: 10vh;
        margin-top: 35rem;    
        }
   
}


@media screen and (max-width:500px){
    .topbody{
        padding-left: 3rem;
    }
}

@media screen and (max-width:460px){
    .topbody{
        padding-left: 3rem;
    }
    .topimage img{
        display: hidden ;
        width: 70rem;
        position: absolute;
        left: -5vw;
        top: 10vh;
        margin-top: 40rem;    
        }
}

@media screen and (max-width:460px){
    body{
        overflow-x: hidden;
    }
    .topbody{
        padding-left: 3rem;
    }
    .topimage img{
        display: hidden;
        width: 65rem;
        position: absolute;
        left: -5vw;
        top: 10vh;
        margin-top: 45rem;    
        }
    .toptext{
        line-height: 4rem;
        }
    
}

@media screen and (max-width:403px){
    :root{
        font-size: 7px;
    }
    body{
        overflow-x: hidden;
    }
    .topbody{
        padding-left: 3rem;
        height: 100vh;
    }
    .topimage img{
        display:hidden;
        width: 55rem;
        position: absolute;
        left: -5vw;
        top: 10vh;
        margin-top: 50rem;    
        }
    .toptext{
        line-height: 4rem;
        font-size: 2.5rem ;
        }
    
}



@media screen and (max-width:530px){
    :root{
        font-size: 7px;
        box-sizing: border-box;
    }
    body{
        overflow-x: hidden;
    }
    .topbody{
        height: 60vh
    }

    .toptext{
        line-height: 5.5rem;
        margin-top: -20rem;
         font-size: 3.8rem;
       text-align:left;
       max-width : 100vw;
    }
    .topimage img{
        display: none;
        width: 45rem;
        position: absolute;
        left: -3vw;
        top: 10vh;
        margin-top: 35rem;    
        }
   
}

